html {
    height: 100%;
}
#body {
    background-color: aquamarine;
    width: 100%;
    height: 90%;
    display: block;
    padding-top: 20px;
    padding-left: 20px;
    margin: 0 auto;
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}
#form {
    height: 20%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}

input,
 select,
 button {
     width: 200px;
     font-size: 13px;
     padding: 6px 0 4px 10px;
     border: 1px solid #cecece;
     background: #F6F6f6;
     border-radius: 8px;
 }

 textarea {
    width: 300px;
    height: 200px;
    font-size: 13px;
    padding: 6px 0 4px 10px;
    border: 1px solid #cecece;
    background: #F6F6f6;
    border-radius: 8px;
 }

 #result {
     color:black;
     width: 90%;
     display: block;
     margin: 100px auto;
     font-size: 90%;
 }
